extends ./layouts/layout.jade

block title
	title 編程規範

block contents
	h1 專案名稱
	p 
		span SasayaDale

	h1 文件路徑
	pre <code>$HOME/Dropbox/sasayaDale</code>

	h1 文件結構
	ul
		li img
		li library
		li style
		li view
			li layout

	h1 版本控制系統
	pre <code>git</code>

	h1 前端技術堆疊
	ul
		li HTML5
		li CSS3
		li JavaScript
			li jQuery

	h1 後端技術堆疊
	ul
		li Node.js

	h1 編程規範

	h2 FileNaming

	h2 HTML

	ul  
		li 標籤
		ul
			li 用兩個空格來代替縮排(tab)
			li 元素屬性之間縮排一次
			li 確保屬性的值全部都用雙引號包覆，不使用單引號
			li 不要在自閉合元素的尾部添加斜線
			li 不要省略可選的結束標籤
	h2 CSS
	h2 JavaSctipt